    <main class="auth-wrapper">
        <div class="auth-form-container">
            <button class="close-btn">&times;</button>
            <form class="auth-form">
                <h2>{{Title}}</h2>
                {{{loginInputHtml}}}
                {{{emailInputHtml}}}
                {{{passwordInputHtml}}}
                {{{passwordCheckInputHtml}}}
                {{{submitButtonHtml}}}
                <div class="switch-link">
                    <a href="/login">Войти</a>
                </div>
            </form>
        </div>
        </main>
