<div class="ads">
    <div class="ads__form-card">
      <h2 class="ads__title">
        {{#if isNew}}
          Создание кампании
        {{else}}
          Редактирование кампании
        {{/if}}
      </h2>
      <div class="ads__form">
      <form id="{{#if isNew}}create-form{{else}}edit-form{{/if}}">
        <label for="title-input">Заголовок</label>
        <input class="ads__item" id="title-input" type="text" value="{{project.title}}" placeholder="Введите заголовок">

        <label for="desc-input">Описание</label>
        <textarea id="desc-input" class="ads__item ads__description" placeholder="Введите описание">{{project.description}}</textarea>

        <label for="site-input">Ссылка на сайт</label>
        <input class="ads__item" id="site-input" type="url" value="{{project.domain}}" placeholder="Введите ссылку на сайт">

        <label for="budget-input">Бюджет</label>
        <input class="ads__item" id="budget-input" type="number" value="{{project.budget}}" placeholder="Введите сумму">
        <small>Не меньше 100₽</small>

        <div class="ads__img-upload">
          <label for="img-file" class="ads__upload-box" id="upload-box">
            <span class="ads__upload-icon">＋</span>
            <span class="ads__upload-text">Загрузите изображение</span>
            <input id="img-file" type="file" accept="image/jpeg, image/png" hidden />
          </label>
          <small class="ads__upload-hint">Поддерживаются JPG и PNG (до 10 МБ)</small>
        </div>


        <label>Даты проведения</label>
        <div class="ads__dates">
          <input class="ads__item" type="date" value="{{project.dateStart}}">
          <input class="ads__item"type="date" value="{{project.dateEnd}}">
        </div>
      </div>
      <div class="ads__actions">
        <button id="back-btn" class="btn btn--secondary">Назад</button>

        {{#if isNew}}
          <button id="edit-btn" type="button" class="btn btn--primary">Создать кампанию</button>
        {{else}}
          <button id="edit-btn" type="button" class="btn btn--primary">Сохранить изменения</button>
          <button id="delete-btn" type="button" class="btn btn--danger">Удалить</button>
        {{/if}}
      </div>

      </form>
    </div>


    <div class="ads__preview-card">
      <h3>Предпросмотр</h3>
      <img class="ads__preview-image" src="{{project.image_url}}" />

      <h4>{{project.title}}</h4>
      <p>{{project.description}}</p>
    </div>

</div>
