<main class="auth">
    <div class="auth__container">
        <button class="close-btn">&times;</button>
        <form class="auth__form" id="register-form">
            <div class="auth__title">{{Title}}</div> 
            {{{loginInputHtml}}}
            {{{emailInputHtml}}}
            {{{passwordInputHtml}}}
            {{{passwordCheckInputHtml}}}
            {{{submitButtonHtml}}}
            <div class="auth__switch-link">
                <p>Уже есть аккаунт? <button type="button" id="switch-to-login-btn" class="link-btn">Войти</button> </p>
            </div>
        </form>
    </div>
</main>