<div class="profile">

  <div class="breadcrumbs">
    <a class="breadcrumbs__link" href="/">Главная</a> 
    <span class="breadcrumbs__separator">›</span>
    <span class="breadcrumbs__current">Мой профиль</span>
  </div>

  <div class="profile__card">
    <div class="profile__content">
      <div class="profile__sidebar">
        <img class="profile__avatar" id="profile-avatar-preview" src="{{avatar}}" alt="Аватар пользователя">
        <label for="profile-avatar-upload" class="btn btn--secondary profile__button-upload ">
          Сменить аватар
        </label>
        <input class="profile__avatar-input" type="file" id="profile-avatar-upload" accept="image/png, image/jpeg, image/gif">

        {{{roleSelectHtml}}}
        
        <div class="profile__meta">
          <p><strong>Дата регистрации:</strong> {{registrationDate}}</p>
          <p><strong>Количество реклам:</strong> {{adCount}}</p>
        </div>
      </div>

      <div class="profile__main">
        <h2 class="profile__username">{{username}}</h2>
        {{#if lastUpdated}}
          <div class="offline-data-indicator">
            <p>Вы в офлайн-режиме. Данные могут быть неактуальны.</p>
            <small>Последнее обновление: {{formatDate lastUpdated}}</small>
          </div>
        {{/if}}

        <form id="profile-form">
            {{{loginInputHtml}}}
            {{{emailInputHtml}}}
            {{{firstNameInputHtml}}}
            {{{lastNameInputHtml}}}
            {{{companyInputHtml}}}
            {{{phoneInputHtml}}}
        </form>
      </div>
    </div>

    <div class="profile__footer">
      <div class="profile__footer-left">
        {{{deleteButtonHtml}}}
        {{{logoutButtonHtml}}}
      </div>
      {{{saveButtonHtml}}}
    </div>
  </div>
</div>