<div class="profile-container">
  <div class="profile-header">
    <a href="/">Главная</a> > <span>Мой профиль</span>
  </div>

  <div class="profile-card">
    <div class="profile-content">
      <div class="profile-sidebar">
        <img {{!-- src="{{avatarUrl}}"  --}} src="/kit.jpg" alt="Аватар пользователя" class="profile-avatar">
        {{{roleSelectHtml}}}
        <div class="profile-info">
          <p><strong>Дата регистрации:</strong> {{registrationDate}}</p>
          <p><strong>Количество реклам:</strong> {{adCount}}</p>
          
        </div>
      </div>

      <div class="profile-main">
        <h2>{{username}}</h2>
        <form id="profile-form">
          <div class="profile-form-fields">
            {{{loginInputHtml}}}
            {{{emailInputHtml}}}
            {{{firstNameInputHtml}}}
            {{{lastNameInputHtml}}}
            {{{companyInputHtml}}}
            {{{phoneInputHtml}}}
          </div>
        </form>
      </div>
    </div>

      <div class="profile-form-footer">
        <div class="footer-actions-left">
          {{{deleteButtonHtml}}}
          {{{logoutButtonHtml}}}
        </div>
        {{{saveButtonHtml}}}
      </div>
  </div>
</div>